<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ book.title }}</h1>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Published Date:</strong> {{ book.published_date }}</p>
        <a href="{% url 'index' %}">Back to list</a>
    </div>
</body>
</html>
