<!DOCTYPE html>
<html>
<head>
    <title>Book Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ form.instance.pk|default:"New" }} Book</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'index' %}">Cancel</a>
    </div>
</body>
</html>
